@use "./settings";
@use "./src/pages/Mainpage/_MainPage.scss";
@use "./src/components/Homepage/_Homepage.scss";
@use "./src/components/SavoirFaire/_Services.scss";
@use "./src/components/Produits/_Produits.scss";
@use "./src/components/Equipe/_Equipe.scss";
@use "./src/components/Partenaires/_Partenaires.scss";
@use "./src/components/Expertise/_Expertise.scss";
@use "./src/pages/ContactForm/_ContactForm.scss";
@use "./src/pages/SingleProject/_SingleProject.scss";
@use "./src/pages/ProductPage/_ProductPage.scss";
@use "./src/pages/ExpertisePage/_ExpertisePage.scss";
@use "./src/components/Navbar/_Navbar.scss";
@use "./src/components/Gallery/_Gallery.scss";
@use "./src/components/Contact/_Contact.scss";
@use "./src/components/ProjectCard/_ProjectCard.scss";
@use "./src/components/Footer/_Footer.scss";


  
  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */
  